In [1]:
import pandas as pd

## Import Accessor

In [2]:
import woodwork.accessor

## Create DataFrame

In [3]:
df = pd.read_csv('retail_data.csv', nrows=100)

In [4]:
df

,order_id,product_id,description,quantity,order_date,unit_price,customer_name,country,total,cancelled
0,536588,22666,RECIPE BOX PANTRY YELLOW DESIGN,12,2010-12-01 16:49:00,4.8675,Emily Carrillo,United Kingdom,58.4100,False
1,536732,22910,PAPER CHAIN KIT VINTAGE CHRISTMAS,6,2010-12-02 12:47:00,4.8675,Tyler Rose,United Kingdom,29.2050,False
2,536733,84375,SET OF 20 KIDS COOKIE CUTTERS,12,2010-12-02 12:50:00,3.4650,Jacqueline Garcia,United Kingdom,41.5800,False
3,536403,22867,HAND WARMER BIRD DESIGN,96,2010-12-01 11:27:00,3.0525,Shawn Carson,Netherlands,293.0400,False
4,536753,22632,HAND WARMER RED POLKA DOT,6,2010-12-02 14:07:00,3.0525,Andrea Brown,United Kingdom,18.3150,False
...,...,...,...,...,...,...,...,...,...,...
95,536582,22771,CLEAR DRAWER KNOB ACRYLIC EDWARDIAN,24,2010-12-01 16:21:00,2.0625,Rachel Short,United Kingdom,49.5000,False
96,536749,22371,AIRLINE BAG VINTAGE TOKYO 78,1,2010-12-02 13:49:00,7.0125,Christian Jackson,United Kingdom,7.0125,False
97,536566,22771,CLEAR DRAWER KNOB ACRYLIC EDWARDIAN,10,2010-12-01 15:21:00,2.0625,Jared Walsh,United Kingdom,20.6250,False
98,536597,35271S,GOLD PRINT PAPER BAG,14,2010-12-01 17:35:00,0.3135,Samantha Dunn,United Kingdom,4.3890,False
99,536624,22925,BLUE GIANT GARDEN THERMOMETER,2,2010-12-02 10:45:00,9.8175,Colleen Davis,United Kingdom,19.6350,False

In [5]:
df.dtypes

order_id           int64
product_id        object
description       object
quantity           int64
order_date        object
unit_price       float64
customer_name     object
country           object
total            float64
cancelled           bool
dtype: object

In [6]:
df.ww.types

                Physical Type     Logical Type Semantic Tag(s)
Data Column
order_id                Int64          Integer     ['numeric']
product_id           category      Categorical    ['category']
description            string  NaturalLanguage              []
quantity                Int64          Integer     ['numeric']
order_date     datetime64[ns]         Datetime              []
unit_price            float64           Double     ['numeric']
customer_name          string  NaturalLanguage              []
country                string  NaturalLanguage              []
total                 float64           Double     ['numeric']
cancelled             boolean          Boolean              []

## Set Initial DataTable Attributes

In [7]:
df.ww.init(time_index='order_date', 
           name='retail_data', 
           logical_types={'quantity':'Double'}, 
           make_index=True, 
           index='order_product_id')

In [8]:
df.ww.types

                   Physical Type     Logical Type Semantic Tag(s)
Data Column
order_product_id           Int64          Integer       ['index']
order_id                   Int64          Integer     ['numeric']
product_id              category      Categorical    ['category']
description               string  NaturalLanguage              []
quantity                 float64           Double     ['numeric']
order_date        datetime64[ns]         Datetime  ['time_index']
unit_price               float64           Double     ['numeric']
customer_name             string  NaturalLanguage              []
country                   string  NaturalLanguage              []
total                    float64           Double     ['numeric']
cancelled                boolean          Boolean              []

In [9]:
df = pd.read_csv('retail_data.csv', nrows=100)

## Set Time Index

In [10]:
df = pd.read_csv('retail_data.csv', nrows=100)
df.ww.types

                Physical Type     Logical Type Semantic Tag(s)
Data Column
order_id                Int64          Integer     ['numeric']
product_id           category      Categorical    ['category']
description            string  NaturalLanguage              []
quantity                Int64          Integer     ['numeric']
order_date     datetime64[ns]         Datetime              []
unit_price            float64           Double     ['numeric']
customer_name          string  NaturalLanguage              []
country                string  NaturalLanguage              []
total                 float64           Double     ['numeric']
cancelled             boolean          Boolean              []

In [11]:
df.ww.init(name='retail_data', logical_types={'quantity':'Double'})
df.ww.dt = df.ww.set_time_index('order_date')
df.ww.types

                Physical Type     Logical Type Semantic Tag(s)
Data Column
order_id                Int64          Integer     ['numeric']
product_id           category      Categorical    ['category']
description            string  NaturalLanguage              []
quantity              float64           Double     ['numeric']
order_date     datetime64[ns]         Datetime  ['time_index']
unit_price            float64           Double     ['numeric']
customer_name          string  NaturalLanguage              []
country                string  NaturalLanguage              []
total                 float64           Double     ['numeric']
cancelled             boolean          Boolean              []

## Set Semantic Tags

In [12]:
df = pd.read_csv('retail_data.csv', nrows=100)
df.ww.init(name='retail_data', logical_types={'quantity':'Double'})

In [13]:
df.ww.dt = df.ww.add_semantic_tags({'order_date': 'tag_1'})
df.ww.types

                Physical Type     Logical Type Semantic Tag(s)
Data Column
order_id                Int64          Integer     ['numeric']
product_id           category      Categorical    ['category']
description            string  NaturalLanguage              []
quantity              float64           Double     ['numeric']
order_date     datetime64[ns]         Datetime       ['tag_1']
unit_price            float64           Double     ['numeric']
customer_name          string  NaturalLanguage              []
country                string  NaturalLanguage              []
total                 float64           Double     ['numeric']
cancelled             boolean          Boolean              []

## Select Based on Tags / Logical Types

In [14]:
df.ww.dt.select('tag_1')

              Physical Type Logical Type Semantic Tag(s)
Data Column
order_date   datetime64[ns]     Datetime       ['tag_1']

In [15]:
df.ww.dt.select(['Categorical', 'NaturalLanguage'])

              Physical Type     Logical Type Semantic Tag(s)
Data Column
product_id         category      Categorical    ['category']
description          string  NaturalLanguage              []
customer_name        string  NaturalLanguage              []
country              string  NaturalLanguage              []

## Select with normal iLoc

In [16]:
df.iloc[[0, 1]]

,order_id,product_id,description,quantity,order_date,unit_price,customer_name,country,total,cancelled
0,536588,22666,RECIPE BOX PANTRY YELLOW DESIGN,12.0,2010-12-01 16:49:00,4.8675,Emily Carrillo,United Kingdom,58.410,False
1,536732,22910,PAPER CHAIN KIT VINTAGE CHRISTMAS,6.0,2010-12-02 12:47:00,4.8675,Tyler Rose,United Kingdom,29.205,False

## Serialization

In [17]:
df.ww.dt.to_csv('test')

In [18]:
import os
print(os.listdir('test'))
print(os.listdir('test/data'))

['table_description.json', 'data']
['retail_data.csv']

## Sample

In [19]:
df_sampled = df.sample(10)

In [20]:
df_sampled

,order_id,product_id,description,quantity,order_date,unit_price,customer_name,country,total,cancelled
48,536404,22383,LUNCH BAG SUKI DESIGN,10.0,2010-12-01 11:29:00,2.7225,William Chavez,United Kingdom,27.2250,False
76,536409,22075,6 RIBBONS ELEGANT CHRISTMAS,1.0,2010-12-01 11:45:00,2.7225,Gabriella Padilla,United Kingdom,2.7225,False
59,536532,22962,JAM JAR WITH PINK LID,12.0,2010-12-01 13:24:00,1.4025,Benjamin Glover,Norway,16.8300,False
73,536520,21584,RETROSPOT SMALL TUBE MATCHES,12.0,2010-12-01 12:43:00,2.7225,Taylor Marshall,United Kingdom,32.6700,False
86,536531,21519,GIN & TONIC DIET GREETING CARD,24.0,2010-12-01 13:23:00,0.6930,Jamie Vasquez,United Kingdom,16.6320,False
77,536563,22964,3 PIECE SPACEBOY COOKIE CUTTER SET,4.0,2010-12-01 15:08:00,3.4650,Linda Gill,United Kingdom,13.8600,False
41,536577,20725,LUNCH BAG RED RETROSPOT,60.0,2010-12-01 16:13:00,2.3925,Matthew Page,United Kingdom,143.5500,False
67,536528,22634,CHILDS BREAKFAST SET SPACEBOY,1.0,2010-12-01 13:17:00,16.4175,Benjamin Bright,United Kingdom,16.4175,False
53,536531,21497,FANCY FONTS BIRTHDAY WRAP,25.0,2010-12-01 13:23:00,0.6930,Jamie Vasquez,United Kingdom,17.3250,False
51,536370,22544,MINI JIGSAW SPACEBOY,24.0,2010-12-01 08:45:00,0.6930,Micheal Nicholson,France,16.6320,False

In [21]:
df_sampled.ww.dt.select(['Categorical'])

            Physical Type Logical Type Semantic Tag(s)
Data Column
product_id       category  Categorical    ['category']

In [22]:
df_sampled.dtypes

order_id                  Int64
product_id             category
description              string
quantity                float64
order_date       datetime64[ns]
unit_price              float64
customer_name            string
country                  string
total                   float64
cancelled               boolean
dtype: object

In [23]:
df_sampled.ww.types

                Physical Type     Logical Type Semantic Tag(s)
Data Column
order_id                Int64          Integer     ['numeric']
product_id           category      Categorical    ['category']
description            string  NaturalLanguage              []
quantity              float64           Double     ['numeric']
order_date     datetime64[ns]         Datetime              []
unit_price            float64           Double     ['numeric']
customer_name          string  NaturalLanguage              []
country                string  NaturalLanguage              []
total                 float64           Double     ['numeric']
cancelled             boolean          Boolean              []

# To Do - Add Util Functions

### Describe

```python
def describe(dataframe)
    """
        dataframe (pd.DataFrame): DataFrame with woodwork init
    """
```

### End user for Describe

```python
from woodwork import describe 

dataframe_described = describe(df)
```