In [1]:
import pandas as pd

## Import Woodwork (to hit decorator)

In [2]:
import woodwork as ww

## Create DataFrame

In [3]:
# df = ww.demo.load_retail(nrows=100, return_dataframe=True)

df = pd.read_csv('retail_data.csv', nrows=100)
df.head(5)

,Unnamed: 0,order_product_id,order_id,product_id,description,quantity,order_date,unit_price,customer_name,country,total,cancelled
0,0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.2075,Andrea Brown,United Kingdom,25.245,False
1,1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,5.5935,Andrea Brown,United Kingdom,33.561,False
2,2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,4.5375,Andrea Brown,United Kingdom,36.300,False
3,3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,5.5935,Andrea Brown,United Kingdom,33.561,False
4,4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,5.5935,Andrea Brown,United Kingdom,33.561,False

### DataFrame Dtypes

In [4]:
df.dtypes

Unnamed: 0            int64
order_product_id      int64
order_id              int64
product_id           object
description          object
quantity              int64
order_date           object
unit_price          float64
customer_name        object
country              object
total               float64
cancelled              bool
dtype: object

## Use the Woodwork Accessor

The point of the accessor is to have a dataframe that we can work with as normal while also having a the information from a DataTable available. The way this works is that each DataFrame object will have a DataTableAccessor available to it. This means that if you reassign the dataframe, you lose your typing information from the DataTable.

We're going to walk through some use cases, but first we have to know how to set up the DataTable accessor according to our preferences.

We can look at the DataTableAccessor as follows:

In [5]:
df.ww

Notice how this is the repr of a DataTable! The above result is the same as if you did `DataTable(df)`. There are no extra parameters provided to the DataTable, so we just have the automatically inferred Logical Types and semantic tags. You can access all methods and properties on a DataTable just like this.

Notice that the dtypes of the dataframe have changed to match those of the DataTable Accessor.

In [6]:
df.dtypes

Unnamed: 0                   Int64
order_product_id             Int64
order_id                     Int64
product_id                category
description                 string
quantity                     Int64
order_date          datetime64[ns]
unit_price                 float64
customer_name               string
country                     string
total                      float64
cancelled                  boolean
dtype: object

Likely, we'll want to set our own Logical Types or semantic tags. We can do that using any of DataTable's methods!

## Set DataTable attributes via DataTable methods

Notice how we need to set `df.ww.dt` any time a method returns a new DataTable. We're currently pulling methods directly from DataTable, which means that any DataTable attribute is available to us, but we have to follow its rules and update the `dt` on the accessor.

### Set Semantic Tags (after reading DataFrame)

In [7]:
df.ww.dt = df.ww.add_semantic_tags({'order_date': 'tag_1'})
df.ww.types

                   Physical Type     Logical Type Semantic Tag(s)
Data Column
Unnamed: 0                 Int64          Integer     ['numeric']
order_product_id           Int64          Integer     ['numeric']
order_id                   Int64          Integer     ['numeric']
product_id              category      Categorical    ['category']
description               string  NaturalLanguage              []
quantity                   Int64          Integer     ['numeric']
order_date        datetime64[ns]         Datetime       ['tag_1']
unit_price               float64           Double     ['numeric']
customer_name             string  NaturalLanguage              []
country                   string  NaturalLanguage              []
total                    float64           Double     ['numeric']
cancelled                boolean          Boolean              []

### Set the time index (after reading DataFrame)

In [8]:
df.ww.dt = df.ww.set_time_index('order_date')
df.ww

Of course, it can be tedious to set each element of the DataTable individually, so the DataTable accessor provides an `init` method, which lets us pass the parameters we'd pass to DataTable.

We'll reread the csv to start from ground zero with the DataTable.

### Set Initial DataTable Attributes (index, time index, name, logical types)

In [9]:
df = pd.read_csv('retail_data.csv', nrows=100)
df.ww.init(name='retail_data',
           time_index='order_date', 
           logical_types={'customer_name':'FullName', 'country':'CountryCode'}, 
           index='order_product_id')
df.ww

If we look at the dtypes on the dataframe, we'll see the dtypes of `quantity` and `country` have changed as well!

In [10]:
df.dtypes

Unnamed: 0                   Int64
order_product_id             Int64
order_id                     Int64
product_id                category
description                 string
quantity                     Int64
order_date          datetime64[ns]
unit_price                 float64
customer_name               string
country                   category
total                      float64
cancelled                  boolean
dtype: object

## Working with Your DataFrame + DataTable Accessor

### Select Based on Tags / Logical Types

Now that we have our types set, let's use them! Say we want to a DataFrame that only has categorical, natural language, and numeric. We'll use `select` for that, giving us an updated DataTable with just the relevant columns.

But, our actual goal here is to get the DataFrame. This is how we can do that:

In [11]:
selected_dt = df.ww.select(['FullName', 'CountryCode'])
selected_dt

              Physical Type Logical Type Semantic Tag(s)
Data Column
customer_name        string     FullName              []
country            category  CountryCode    ['category']

Now we can easily get that DataFrame, but we've lost some of our DataTable typing info.

In [12]:
df = selected_dt.to_dataframe()
df.ww

The good news is that our DataTable will match our dataframe perfectly, so we can easiy fix that:

In [13]:
df.ww.dt = selected_dt
df.ww

### Update your DataFrame

In the example above, we performed an action on a DataTable and had to get out the DataFrame and update it to keep the typing info up to date. The converse is also possible.

If we want to change a DataFrame--say via `sample`--we will get a new DataFrame devoid of any typing info, so we'll need to update it. Let's see how we can do that:

In [14]:
df = pd.read_csv('retail_data.csv', nrows=100)
df.ww.init(name='retail_data',
           time_index='order_date', 
           logical_types={'customer_name':'FullName', 'country':'CountryCode'}, 
           index='order_product_id')
original_dt = df.ww.dt
df.ww

In [15]:
df = df.sample(50)
df.ww

In [16]:
original_dt.update_dataframe(df)
df.ww.dt = original_dt
df.ww

These two examples above highlight the benefits of keeping your DataFrame and DataTable in sync. This is all currently being done with very minimal code written outside of what currently exists, but it's likely that there'll be good ways to simplify this process.

Let's work through some more use cases that might come up.

### Using iloc

iloc exists both on DataFrames and DataTables. Let's look at two different ways of using iloc to get a new Dataframe with the correct typing info.

In [17]:
# DataFrame.iloc
df = pd.read_csv('retail_data.csv', nrows=100)
df.ww.init(name='retail_data',
           time_index='order_date', 
           logical_types={'customer_name':'FullName', 'country':'CountryCode'}, 
           index='order_product_id')

original_dt = df.ww.dt
df = df.iloc[:,-4:]
df.ww.dt = original_dt[list(df.columns)]
df.ww

In [18]:
# DataTable.iloc
df = pd.read_csv('retail_data.csv', nrows=100)
df.ww.init(name='retail_data',
           time_index='order_date', 
           logical_types={'customer_name':'FullName', 'country':'CountryCode'}, 
           index='order_product_id')

updated_dt = df.ww.iloc[:,-4:]
df = updated_dt.to_dataframe()
df.ww.dt = updated_dt
df.ww

## In Place Changes

We've looked at various DataTable methods that create a new DataTable, but let's look at one that mutates the DataTable itself. 

Note: Any of this behavior can be changed based on input!

### Pop a column

In [19]:
# DataFrame.pop
df = pd.read_csv('retail_data.csv', nrows=100)
df.ww.init(name='retail_data',
           time_index='order_date', 
           logical_types={'customer_name':'FullName', 'country':'CountryCode'}, 
           index='order_product_id')

# Won't remove from DataTable
series = df.pop('cancelled')
assert 'cancelled' not in df.columns
assert 'cancelled' in df.ww.columns

df.ww.dt = df.ww.dt[list(df.columns)]
assert 'cancelled' not in df.columns
assert 'cancelled' not in df.ww.columns
df.ww #still has relevant types because it was all done in place

In [20]:
# DataTable.pop
df = pd.read_csv('retail_data.csv', nrows=100)
df.ww.init(name='retail_data',
           time_index='order_date', 
           logical_types={'customer_name':'FullName', 'country':'CountryCode'}, 
           index='order_product_id')

# Won't remove from DataFrame
datacolumn = df.ww.pop('cancelled')
assert 'cancelled' in df.columns
assert 'cancelled' not in df.ww.columns

df.drop('cancelled',axis=1, inplace=True)
assert 'cancelled' not in df.columns
assert 'cancelled' not in df.ww.columns

df.ww

## Other DataTable Functionality

### Serialization
We can serialize!

In [21]:
df.ww.to_csv('test')

In [22]:
import os
print(os.listdir('test'))
print(os.listdir('test/data'))

['table_description.json', 'data']
['retail_data.csv', 'data.csv']

### Statistical Insights

In [23]:
df = pd.read_csv('retail_data.csv', nrows=100)
df.ww.init(name='retail_data',
           time_index='order_date', 
           logical_types={'customer_name':'FullName', 'country':'CountryCode'}, 
           index='order_product_id')

df.ww.describe()

,Unnamed: 0,order_id,product_id,description,quantity,order_date,unit_price,customer_name,country,total,cancelled
physical_type,Int64,Int64,category,string,Int64,datetime64[ns],float64,string,category,float64,boolean
logical_type,Integer,Integer,Categorical,NaturalLanguage,Integer,Datetime,Double,FullName,CountryCode,Double,Boolean
semantic_tags,{numeric},{numeric},{category},{},{numeric},{time_index},{numeric},{},{category},{numeric},{}
count,100,100,100,100,100,100,100,100,100,100,100
nunique,100,14,73,NaN,16,12,26,NaN,2,41,NaN
nan_count,0,0,0,0,0,0,0,0,0,0,0
mean,49.5,536372,NaN,NaN,13.1,2010-12-01 09:01:37.199999744,5.40606,NaN,NaN,51.5283,NaN
mode,0,536370,21730,CREAM CUPID HEARTS COAT HANGER,6,2010-12-01 08:45:00,4.2075,Andrea Brown,United Kingdom,25.245,False
std,29.0115,4.04184,NaN,NaN,16.8879,NaN,4.30838,NaN,NaN,74.3198,NaN
min,0,536365,NaN,NaN,2,2010-12-01 08:26:00,0.693,NaN,NaN,10.494,NaN
first_quartile,24.75,536369,NaN,NaN,6,NaN,2.772,NaN,NaN,20.79,NaN
second_quartile,49.5,536373,NaN,NaN,6,NaN,4.3725,NaN,NaN,32.175,NaN
third_quartile,74.25,536375,NaN,NaN,13.5,NaN,7.0125,NaN,NaN,49.005,NaN
max,99,536378,NaN,NaN,120,2010-12-01 09:37:00,29.7,NaN,NaN,578.16,NaN
num_true,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
num_false,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100

In [24]:
df.ww.value_counts()

{'product_id': [{'value': '84029E', 'count': 3},
  {'value': '22752', 'count': 3},
  {'value': '71053', 'count': 3},
  {'value': '22632', 'count': 3},
  {'value': '84029G', 'count': 3},
  {'value': '84406B', 'count': 3},
  {'value': '85123A', 'count': 3},
  {'value': '21730', 'count': 3},
  {'value': '22633', 'count': 3},
  {'value': '21068', 'count': 2}],
 'country': [{'value': 'United Kingdom', 'count': 80},
  {'value': 'France', 'count': 20}]}

## Current Problems


### Problem 1 -

In [25]:
df['cancelled'] = df['cancelled'].astype('int')

In [26]:
df.head(2)

,Unnamed: 0,order_product_id,order_id,product_id,description,quantity,order_date,unit_price,customer_name,country,total,cancelled
0,0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.2075,Andrea Brown,United Kingdom,25.245,0
1,1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,5.5935,Andrea Brown,United Kingdom,33.561,0

In [27]:
df.dtypes

Unnamed: 0                   Int64
order_product_id             Int64
order_id                     Int64
product_id                category
description                 string
quantity                     Int64
order_date          datetime64[ns]
unit_price                 float64
customer_name               string
country                   category
total                      float64
cancelled                    int64
dtype: object

In [28]:
df.ww.select('boolean')

            Physical Type Logical Type Semantic Tag(s)
Data Column
cancelled         boolean      Boolean              []

In [29]:
df.ww.to_dataframe().head(2)

,Unnamed: 0,order_product_id,order_id,product_id,description,quantity,order_date,unit_price,customer_name,country,total,cancelled
0,0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.2075,Andrea Brown,United Kingdom,25.245,False
1,1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,5.5935,Andrea Brown,United Kingdom,33.561,False

# To Do - Add Util Functions

```python
def describe(dataframe)
    """
        dataframe (pd.DataFrame): DataFrame with woodwork init
    """
```

### End user Usage 

```python
from woodwork import describe 

dataframe_described = describe(df)
```